body {
    background: rgb(246,219,231);
    background: radial-gradient(circle, rgba(246,219,231,1) 0%, rgba(194,214,238,1) 100%);
}

h1 {
    text-align: center;
}  

.gradient-color{
    background: linear-gradient(90deg, rgba(156,239,242,1) 0%, rgba(235,224,236,1) 50%, rgba(156,239,242,1) 100%);
}

.nav-adjust{
    position: static;
    top: 0px;
    left: 0px;
    width: 100%;
}

.title-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    background-color: var(--purple);
    margin: 0;
}

.exp-title-item{
    width: 100%;
    height: 100px;
    display: inline-block;
    background-color: var(--purple);
    padding: auto;
    margin: 1px;
}

.title-item{
    width: 50%;
    height: 100px;
    display: inline-block;
    background-color: var(--purple);
    padding: auto;
    margin: 1px;
}

/* media query, disable display of Card3 until a screen size greater than 992px */
@media(max-width: 992px){
    .title-item{
        display: none;
    }    
    .item1{
        display: none;
    }
}

@media(min-width: 993px){
    .title-container{
        display: none;
    }
    .item9{
        display: none;
    }
}

/* media query, disable display of Card3 until a screen size greater than 992px */
@media(max-width: 575px){
    .flex-container{
        justify-content: flex-start;
    }
    .flex-item{
        width: 5%;
        height: 100px;
    }
    .item9{
        display: none;
    }
}

.title-text{
    text-decoration: none;
    color: var(--white);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.5em 0em;
    font-size: x-large;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;
    background-color: var(--purple);
    margin: 0;
}

.flex-item{
    width: 30%;
    height: 100px;
    display: inline-block;
    background-color: var(--purple);
    padding: auto;
    margin: 1px;
}

.item-text{
    text-decoration: none;
    color: var(--white);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 2em 1em;

}

.item-text:hover{
    background-color: var(--green);
    box-shadow: 0 0 0 2px var(--green);
}

.item-text:focus{
    outline: none;
    box-shadow: 0 0 0 2px var(--orange);
}

.item-text:active{
    background-color: var(--orange);
}



/* Code for exercise 02-grid */

/* Header --- filler separator */
.item1{
    grid-area: Header;
}

/* AboutMe */
.item2{
    grid-area: AboutMe;
}

/* Card 1 --- experience */
.item3{
    grid-area: Card1;
}

/* Card 2 --- Projects*/
.item4{
    grid-area: Card2;
}

/* Card 3 --- (undecided)*/
.item5{
    grid-area: Card3;
}

/* Section --- filler separator */
.item6{
    grid-area: Section;
}

/* Footer --- Contact Form*/
.item7{
    grid-area: Footer;
}

/* MyImage */
.item8{
    grid-area: MyImage;

/* fillerImage for use of tablet size filler above aboutme */
}
.item9{
    grid-area: fillerImage;
}

/* grid-container, section class, default for mobile view */
.grid-container{
    display: grid;
    height: 97 vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px; 
    grid-template-areas:
        'MyImage'
        'AboutMe'
        'Section'
        'Section'
        'Card1'
        'Card2'
        'Footer'
}

/* media query, disable display of Card3 until a screen size greater than 992px */
@media(max-width: 992px){
    .item5{
        display: none;
    }
}

/* media query for tablet size */
@media (min-width: 576px) and (max-width: 992px){
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 10px; 
        grid-template-areas:
            'fillerImage     fillerImage'
            'AboutMe    MyImage'
            'Section    Section'           
            'Card1      Card2'
            'Footer     Footer';
           
    }
}

/* media query for PC size */
@media (min-width: 993px){
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 10px; 
        grid-template-areas:
            'Header     Header      Header'
            'AboutMe    AboutMe     MyImage'
            'Card1      Card2       Card3'
            'Section    Section     Section'           
            'Footer     Footer      Footer';
           
    }
}

/* this class is used to adjust rectangular images to become square images and place a circular frame around the image */
.square-image{
    display: block;
    margin: 0px auto;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  /* this class is used to adjust images that used the above 'square-image' class and align the border around the focus of the image */
  img.square-adjust{
    width: auto;
    height: 100%;
    margin-left: -100px;
  }



  /* created for dropdown accordion buttons */
.accordion{
    background-color: teal;
    color: white;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: orange;
  }
  
/* Style the accordion panel. Note: hidden by default */
.panel {
   background-color: green;
   display: none;
   overflow: hidden;
}

.accordion:after {
   content: '\02795'; /* Unicode character for "plus" sign (+) */
   font-size: 12px;
   float: right;
   margin-left: 5px;
}
  
.active:after {
   content: "\2796"; /* Unicode character for "minus" sign (-) */
}
